/*light brown: CBA773
light green-brown: BC9E60
cool green: 4B8B68
brown: 8B5A32
dark brown: 382414;
*/


/**{
  border: 1px blue solid;
}
*/
body{
  font-family: 'Droid Sans', sans-serif;
}

.util-name{
 color: white;
  font-size: 2em;
  font-weight: bolder;
  width: 100%;
}

#compare-arrow{
  font-size: 10em;
  margin-top: 1.2em;
  margin-left: 30%;
  color: #382414;
}

.per-kwhr{
  width: 20%;
  margin-left: 40%;
  margin-bottom: 20px;
}

ul.nav a:hover {
  padding-bottom: 12.5px;
}

.result-box{
  background-color: #FFF1D4;
  width: 60%;
  margin: auto;
  margin-top: 10em;
  border: #E5CEA0 solid 0.5em;
  border-radius: 2em;
  overflow:hidden;
}


.panel-box{
  background-color: #FFF1D4;
  width: 60%;
  margin: auto;
  margin-top: 10em;
  border: #E5CEA0 solid 0.5em;
  border-radius: 2em;
  text-align: center;
  }


.result-box p{
  color: white;
  font-size: 2em;

}

.old-tariff{
  background-color: #BC9E60 ;
  margin-right: 0px;
}

.new-tariff{
  background-color: #CBA773;
  margin-left: 0px;
}

.tariff-result{
  margin: auto;
  text-align: center;
  font-size: 5em;
  padding: 0 0;
  padding-top: 0.5em;
}

.tab-modal{
  color: #382414;
  text-align:center;
}

.tab-modal h4{
  font-size: 2em;
}

.modal-content{
  background-color: #BC9E60;
}

.modal-body{
  text-align: left;
}

.solar-install-container{

  width: 66.66666%;
  height: 8em;
  margin-top: 4em;
}

.navbar-header {
	height: 2.5em;
	background-color: rgba(139, 90, 50, 0.79);
	font-size: 1.5em;
	font-family: inherit;
	padding-left: 20px;
	color: white;
	width: 100%;
}

.h1{
	font-size: 2.5em;
}

.nav {
	float: right;
	padding-right: 0px;

}

.nav > li > a{
	color: white;
	border: 1px;
	border-color: rgba(235, 144, 135, 0.79);
}

.nav > li > a:hover{
	color: white;
	background-color: #E5CEA0;
	border: 1px;
	border-color: #382414;
}

.nav-tabs{
	border-bottom: none;
	border: none;
}

.subheader {
	font-family: inherit;
	font-size: 2.0em;
	color: #382414;
	text-align: center;
	padding-top: 1.85em;
	width: 100%;
	height: auto;
	font-weight: bold;
}

.output {
	text-align: center;
	color: #382414;
	font-weight: bolder;
	font-size: 2.5em;
	background-color: transparent;

}

.solar-panels{
	margin-top: 3em;

}

img{
width: 50%;
height: auto;
display: block;
margin-right: auto;
margin-left: auto;

}

body {
	background-color: transparent;
}

p {
	color: #382414;
	font-weight: bolder;
}

html {
  background: url(stockvault-brightness116234.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}