

.navbar-header {
	height: 2.5em;
	background-color: rgba(148, 19, 7, 0.79);
	font-size: 1.5em;
	font-family: inherit;
	padding-left: 20px;
	color: white;
	width: 100%;
}

.h1{
	font-size: 2.5em;
}

.nav {
	float: right;
	padding-right: 0px;

}

.nav > li > a{
	color: white;
	border: 1px;
	border-color: rgba(235, 144, 135, 0.79);
}

.nav > li > a:hover{
	color: white;
	background-color: rgba(235, 144, 135, 0.79);
	border: 1px;
	border-color: rgba(235, 144, 135, 0.79);
}

.nav-tabs{
	border-bottom: none;
	border: none;
}

.subheader {
	font-family: inherit;
	font-size: 2.0em;
	color: rgba(148, 19, 7, 0.79);
	text-align: center;
	padding-top: 1.85em;
	width: 100%;
	height: auto;
	font-weight: bold;
}

.output {
	text-align: center;
	color: rgba(148, 19, 7, 0.79);
	font-weight: bolder;
	font-size: 2.5em;
	background-color: transparent;

}

body {
	background-color: transparent;
}

p {
	color: rgba(148, 19, 7, 0.79);
	font-weight: bolder;
}

html { 
  background: url(stockvault-brightness116234.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}